# Variables and Data Types

## Variables

In [2]:
# Variable Assignment
x = 10  # int
y = 3.14  # float
name = "Alice"  # str
is_active = True  # bool

# Type Conversion
int_to_float = float(x)  # 10.0
float_to_int = int(y)  # 3
str_to_int = int("42")  # 42

### 1.	Variable Names

In [5]:
my_variable = 10
_name = "John"
age25 = 25

In [7]:
# Invalid Variable Names
2nd_name = "John"  # Invalid: starts with a number
my-variable = 10   # Invalid: contains a hyphen
if = 5             # Invalid: uses a Python keyword

SyntaxError: invalid decimal literal (2720667274.py, line 2)

### 3.	Assign Multiple Values

In [8]:
x, y, z = 1, 2, 3
print(x)  # Output: 1
print(y)  # Output: 2
print(z)  # Output: 3

1
2
3

In [9]:
a = b = c = 10
print(a)  # Output: 10
print(b)  # Output: 10
print(c)  # Output: 10

10
10
10

### 4.	Variable Reassignment

In [10]:
x = 5
print(x)  # Output: 5

x = 10
print(x)  # Output: 10

5
10

### 5.	Variable Scope

In [11]:
# Global variable
x = 10

def my_function():
    # Local variable
    y = 5
    print(y)  # Output: 5

my_function()
print(x)  # Output: 10
print(y)  # Error: y is not defined outside the function

5
10
2

### 6.	Constants

In [14]:
PI = 3.14159
GRAVITY = 9.8

## Lists

### 1.	Creating a List

In [17]:
# Creating a list of fruits
fruits = ["apple", "banana", "cherry"]
# Creating a list of numbers
numbers = [1, 2, 3, 4, 5]

### 2.	Accessing Elements in a List

In [18]:
# Accessing elements
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[-1])  # Output: cherry (last element)

apple
banana
cherry

In [19]:
# Slicing a list
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0:2])  # Output: ['apple', 'banana'] (elements from index 0 to 1)
print(fruits[:2])   # Output: ['apple', 'banana'] (first two elements)
print(fruits[1:])   # Output: ['banana', 'cherry', 'date'] (from index 1 to the end)
print(fruits[1:3])  # Output: ['banana', 'cherry'] (elements from index 1 to 2)

['apple', 'banana']
['apple', 'banana']
['banana', 'cherry', 'date']
['banana', 'cherry']

In [20]:
# Slicing a list with negative indexes
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[-3:-1])  # Output: ['banana', 'cherry'] (elements from third to last to second to last)
print(fruits[-3:])    # Output: ['banana', 'cherry', 'date'] (elements from third to last to the end)
print(fruits[:-1])    # Output: ['apple', 'banana', 'cherry'] (all elements except the last one)
print(fruits[-4:-2])  # Output: ['apple', 'banana'] (elements from fourth to last to third to last)

['banana', 'cherry']
['banana', 'cherry', 'date']
['apple', 'banana', 'cherry']
['apple', 'banana']

### 3.	Modifying Lists

In [22]:
# Accessing elements
# Changing an element
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# Adding elements
fruits.append("orange")
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'orange']

# Removing elements
fruits.remove("blueberry")
print(fruits)  # Output: ['apple', 'cherry', 'orange']

['apple', 'blueberry', 'cherry', 'date']
['apple', 'blueberry', 'cherry', 'date', 'orange']
['apple', 'cherry', 'date', 'orange']

### 4.	Data Types in a List

In [23]:
# Accessing elements
# List with mixed data types
mixed_list = [1, "apple", 3.14, True]
print(mixed_list)  # Output: [1, 'apple', 3.14, True]

# List of lists
nested_list = [[1, 2, 3], ["a", "b", "c"]]
print(nested_list)  # Output: [[1, 2, 3], ['a', 'b', 'c']]

[1, 'apple', 3.14, True]
[[1, 2, 3], ['a', 'b', 'c']]

### 5.	Common List Methods

In [24]:
# Using append() to add an element
fruits.append("grape")
print(fruits)  # Output: ['apple', 'cherry', 'orange', 'grape']

# Using remove() to remove an element
fruits.remove("orange")
print(fruits)  # Output: ['apple', 'cherry', 'grape']

# Using pop() to remove and return the last element
last_fruit = fruits.pop()
print(last_fruit)  # Output: grape
print(fruits)      # Output: ['apple', 'cherry']

# Using extend() to add multiple elements
fruits.extend(["kiwi", "mango"])
print(fruits)  # Output: ['apple', 'cherry', 'kiwi', 'mango']

# Using index() to find the position of an element
index = fruits.index("cherry")
print(index)  # Output: 1

# Using sort() to sort the list
fruits.sort()
print(fruits)  # Output: ['apple', 'cherry', 'kiwi', 'mango']

# Using reverse() to reverse the list
fruits.reverse()
print(fruits)  # Output: ['mango', 'kiwi', 'cherry', 'apple']

# Using insert() to add an element at a specific position
fruits.insert(2, "blueberry")
print(fruits)  # Output: ['mango', 'kiwi', 'blueberry', 'cherry', 'apple']

# Using del to remove an element by index
del fruits[1]
print(fruits)  # Output: ['mango', 'blueberry', 'cherry', 'apple']

# Using clear() to remove all elements
fruits.clear()
print(fruits)  # Output: []

['apple', 'cherry', 'date', 'orange', 'grape']
['apple', 'cherry', 'date', 'grape']
grape
['apple', 'cherry', 'date']
['apple', 'cherry', 'date', 'kiwi', 'mango']
1
['apple', 'cherry', 'date', 'kiwi', 'mango']
['mango', 'kiwi', 'date', 'cherry', 'apple']
['mango', 'kiwi', 'blueberry', 'date', 'cherry', 'apple']
['mango', 'blueberry', 'date', 'cherry', 'apple']
[]

## Tuples

### 1.	Creating a Tuple

In [26]:
# Creating a tuple with different data types
person = ("Alice", 25, "Engineer")

# Creating a tuple with numbers
numbers = (1, 2, 3, 4, 5)

### 2.	Accessing Elements in a Tuple

In [28]:
# Accessing elements
person = ("Alice", 25, "Engineer")

print(person[0])  # Output: Alice
print(person[1])  # Output: 25
print(person[-1])  # Output: Engineer (last element)

Alice
25
Engineer

In [29]:
# Slicing a tuple
numbers = (1, 2, 3, 4, 5)

print(numbers[1:4])  # Output: (2, 3, 4) (elements from index 1 to 3)
print(numbers[:3])   # Output: (1, 2, 3) (first three elements)
print(numbers[2:])   # Output: (3, 4, 5) (from index 2 to the end)
print(numbers[-3:])  # Output: (3, 4, 5) (last three elements)

(2, 3, 4)
(1, 2, 3)
(3, 4, 5)
(3, 4, 5)

### 3.	Tuples are Immutable

In [30]:
# Creating a tuple
fruits = ("apple", "banana", "cherry")

# Trying to change an element will cause an error
# fruits[1] = "blueberry"  # This will raise a TypeError

# Trying to add an element will cause an error
# fruits.append("orange")  # This will raise an AttributeError

# Trying to remove an element will cause an error
# fruits.remove("banana")  # This will raise an AttributeError

In [31]:
# Creating a tuple
fruits = ("apple", "banana", "cherry")

# Converting the tuple to a list
fruits_list = list(fruits)

# Modifying the list
fruits_list[1] = "blueberry"  # Changing an element
fruits_list.append("orange")  # Adding an element
fruits_list.remove("apple")   # Removing an element

# Converting the list back to a tuple
fruits = tuple(fruits_list)
print(fruits)  # Output: ('blueberry', 'cherry', 'orange')

('blueberry', 'cherry', 'orange')

### 4.	Unpacking Tuples

In [32]:
# Creating a tuple
person = ("Alice", 25, "Engineer")

# Unpacking the tuple into variables
name, age, profession = person

print(name)       # Output: Alice
print(age)        # Output: 25
print(profession) # Output: Engineer

Alice
25
Engineer

In [33]:
# Creating a nested tuple
nested_tuple = ("Alice", (25, "Engineer"))

# Unpacking the nested tuple
name, (age, profession) = nested_tuple

print(name)       # Output: Alice
print(age)        # Output: 25
print(profession) # Output: Engineer

Alice
25
Engineer

### 5.	Looping Through Tuples

In [35]:
# Creating a tuple
fruits = ("apple", "banana", "cherry")

# Looping through the tuple
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# cherry

apple
banana
cherry

In [36]:
# Creating a tuple
fruits = ("apple", "banana", "cherry")

# Looping through the tuple with index
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")
# Output:
# Index: 0, Fruit: apple
# Index: 1, Fruit: banana
# Index: 2, Fruit: cherry

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

## Sets

### 1.	Creating a Set

In [37]:
# Creating a set with curly braces
fruits = {"apple", "banana", "cherry"}

# Creating a set with the set() function
numbers = set([1, 2, 3, 4, 5])

### 2.	Characteristics of Sets

In [38]:
# Sets do not allow duplicate elements
unique_numbers = {1, 2, 3, 3, 4}
print(unique_numbers)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

### 3.	Adding and Removing Elements

In [40]:
# Creating a set
fruits = {"apple", "banana", "cherry"}

# Adding an element
fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

# Removing an element using remove()
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry', 'orange'}

# Removing an element using discard()
fruits.discard("cherry")
print(fruits)  # Output: {'apple', 'orange'}

{'orange', 'cherry', 'apple', 'banana'}
{'orange', 'cherry', 'apple'}
{'orange', 'apple'}

In [42]:
# Creating a set
fruits = {"apple", "banana"}

# Adding multiple elements using update()
fruits.update(["cherry", "orange"])
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

# Adding elements from another set
more_fruits = {"grape", "mango"}
fruits.update(more_fruits)
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange', 'grape', 'mango'}

# Adding elements from a tuple
fruits.update(("kiwi", "peach"))
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'kiwi', 'peach'}

{'orange', 'cherry', 'apple', 'banana'}
{'grape', 'cherry', 'mango', 'orange', 'apple', 'banana'}
{'kiwi', 'grape', 'cherry', 'mango', 'peach', 'orange', 'apple', 'banana'}

### 4.	Set Operations

#### 1)	Union

In [44]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#### 2)	Intersection

In [45]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

#### 3)	Difference

In [46]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

#### 4)	Symmetric Difference

In [47]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

## Dictionaries

### 1.	Creating a Dictionary

In [50]:
# Creating a dictionary with curly braces
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Creating a dictionary with the dict() function
person = dict(name="Alice", age=25, profession="Engineer")

### 2.	Accessing Values in a Dictionary

In [51]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Accessing values using square brackets
print(person["name"])       # Output: Alice
print(person["age"])        # Output: 25

# Accessing values using the get() method
print(person.get("profession"))  # Output: Engineer
print(person.get("salary", "Not specified"))  # Output: Not specified (default value)

Alice
25
Engineer
Not specified

### 3.	Getting Keys, Values, and Items

In [53]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Getting all keys
keys = person.keys()
print(keys)  # Output: dict_keys(['name', 'age', 'profession'])

# Getting all values
values = person.values()
print(values)  # Output: dict_values(['Alice', 25, 'Engineer'])

# Getting all key-value pairs
items = person.items()
print(items)  # Output: dict_items([('name', 'Alice'), ('age', 25), ('profession', 'Engineer')])

dict_keys(['name', 'age', 'profession'])
dict_values(['Alice', 25, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 25), ('profession', 'Engineer')])

### 4.	Adding and Updating Elements

In [55]:
# Creating a dictionary
person = {"name": "Alice", "age": 25}

# Adding a new key-value pair
person["profession"] = "Engineer"
print(person)  # Output: {'name': 'Alice', 'age': 25, 'profession': 'Engineer'}

# Updating the value of an existing key
person["age"] = 26
print(person)  # Output: {'name': 'Alice', 'age': 26, 'profession': 'Engineer'}

# Using update() to add multiple elements
person.update({"age": 27, "salary": 50000})
print(person)  # Output: {'name': 'Alice', 'age': 27, 'profession': 'Engineer', 'salary': 50000}

{'name': 'Alice', 'age': 25, 'profession': 'Engineer'}
{'name': 'Alice', 'age': 26, 'profession': 'Engineer'}
{'name': 'Alice', 'age': 27, 'profession': 'Engineer', 'salary': 50000}

### 5.	Removing Elements

In [57]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Removing an element using del
del person["profession"]
print(person)  # Output: {'name': 'Alice', 'age': 25}

# Removing an element using pop()
age = person.pop("age")
print(age)     # Output: 25
print(person)  # Output: {'name': 'Alice'}

# 0
person["age"] = 25
last_item = person.popitem()
print(last_item)  # Output: ('age', 25)
print(person)     # Output: {'name': 'Alice'}

{'name': 'Alice', 'age': 25}
25
{'name': 'Alice'}
('age', 25)
{'name': 'Alice'}

### 6.	Nested Dictionaries

In [59]:
# Creating a nested dictionary
students = {
    "student1": {
        "name": "Alice",
        "age": 24,
        "courses": ["Math", "Science"]
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "courses": ["History", "Art"]
    }
}

# Accessing elements in a nested dictionary
print(students["student1"]["name"])   # Output: Alice
print(students["student2"]["courses"])  # Output: ['History', 'Art']

Alice
['History', 'Art']

# Python Operators

## Operators

### Arithmetic Operators

In [63]:
# Arithmetic Operators
a = 10
b = 5

print(a + b)  # Addition: Output: 15
print(a - b)  # Subtraction: Output: 5
print(a * b)  # Multiplication: Output: 50
print(a / b)  # Division: Output: 2.0
print(a % b)  # Modulus (remainder): Output: 0
print(a ** b)  # Exponentiation: Output: 100000
print(a // b)  # Floor Division: Output: 2

15
5
50
2.0
0
100000
2

### Comparison Operators

In [65]:
# Comparison Operators
a = 10
b = 5

print(a == b)  # Equal: Output: False
print(a != b)  # Not equal: Output: True
print(a > b)  # Greater than: Output: True
print(a < b)  # Less than: Output: False
print(a >= b)  # Greater than or equal to: Output: True
print(a <= b)  # Less than or equal to: Output: False

False
True
True
False
True
False

### Logical Operators

In [67]:
# Logical Operators
a = True
b = False

print(a and b)  # Logical AND: Output: False
print(a or b)  # Logical OR: Output: True
print(not a)  # Logical NOT: Output: False

False
True
False

### Assignment Operators

In [69]:
# Assignment Operators
a = 10  # Assign: Output: 10
a += 5  # Add and assign: a = a + 5, Output: 15
a -= 5  # Subtract and assign: a = a - 5, Output: 10
a *= 2  # Multiply and assign: a = a * 2, Output: 20
a /= 2  # Divide and assign: a = a / 2, Output: 10.0
a %= 3  # Modulus and assign: a = a % 3, Output: 1.0
a **= 2  # Exponentiation and assign: a = a ** 2, Output: 1.0
a //= 2  # Floor division and assign: a = a // 2, Output: 0.0

### Membership Operators

In [71]:
# Membership Operators
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)  # Output: True
print("grape" not in fruits)  # Output: True

True
True

### Identity Operators

In [72]:
# Identity Operators
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a

print(a is b)  # Output: False (different objects)
print(a is c)  # Output: True (same object)
print(a == b)  # Output: True (same content)

False
True
True

# Python Statements

## Statements

### Conditional Statements

In [76]:
# Conditional statements
x = 10

if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

### Loop Statements

#### For loop

In [79]:
# For loop
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# cherry

apple
banana
cherry

#### While Loop

In [81]:
# While loop
count = 0

while count < 5:
    print(count)
    count += 1
# Output:
# 0
# 1
# 2
# 3
# 4

0
1
2
3
4

### Control Statements

#### Break Statement

In [84]:
# Break statement
for i in range(10):
    if i == 5:
        break
    print(i)
# Output:
# 0
# 1
# 2
# 3
# 4

0
1
2
3
4

#### Continue Statement

In [86]:
# Continue statement
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)
# Output:
# 1
# 3
# 5
# 7
# 9

1
3
5
7
9