In [2]:
print("hola mundo")

hola mundo

In [3]:
print("Test2")

Test2

In [4]:
mylist = [1, 2, 3, 4, 5]

In [5]:
print(mylist)

[1, 2, 3, 4, 5]

In [8]:
x = 10
y = 20
print(x + y)
print(mylist)

30
[1, 2, 3, 4, 5]

In [9]:
y = "Fernando"

In [10]:
print(y)

Fernando

In [11]:
print(x)

10

In [12]:
x = str(3)

In [13]:
print(x)

3

In [14]:
x = int(3)
print(x)

3

In [15]:
x = float(3)
print(x)

3.0

In [17]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

In [22]:
# Variable Assignment
x = 10  # int
y = 3.14  # float
name = "Alice"  # str
is_active = True  # bool

# Type Conversion
int_to_float = float(x)  # 10.0
float_to_int = int(y)  # 3
str_to_int = int("42")  # 42

print(y)

3.14

In [19]:
print(x)

10

In [20]:
print(x,y)

10 3.14

In [21]:
print(y)

3.14

In [23]:
# Creating a list of fruits
fruits = ["apple", "banana", "cherry"]
# Creating a list of numbers
numbers = [1, 2, 3, 4, 5]

# Accessing elements
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[-1])  # Output: cherry (last element)

apple
banana
cherry

In [24]:
# Creating a dictionary with curly braces
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Creating a dictionary with the dict() function
person = dict(name="Alice", age=25, profession="Engineer")

# Creating a dictionary
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Accessing values using square brackets
print(person["name"])       # Output: Alice
print(person["age"])        # Output: 25

# Accessing values using the get() method
print(person.get("profession"))  # Output: Engineer
print(person.get("salary", "Not specified"))  # Output: Not specified (default value)

Alice
25
Engineer
Not specified

In [28]:
if 10 > 15:
    print("It worked!")
else:
    print("It did not work!")

It did not work!

In [35]:
just_a_list = [1, 2, 3, 4, 5]
for item in just_a_list:
    print("yep" , item)

yep 1
yep 2
yep 3
yep 4
yep 5

In [1]:
#Print the numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10